@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
    background-color: #ffffff;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('../public/horizontal.svg');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('../public/vertical.svg');
    cursor: row-resize;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;

  padding: 15px;
}

.RichEditor-editor {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid rgb(49, 46, 129);
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .RichEditor-header-one {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.RichEditor-editor .RichEditor-header-two {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.RichEditor-editor .RichEditor-header-three {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.RichEditor-editor .RichEditor-header-four {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


.RichEditor-editor .RichEditor-header-five {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.RichEditor-editor .RichEditor-header-six {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
